---
- name: Update repositories cache and install "php-fpm" package
  apt:
    name: php-fpm
    update_cache: yes
  when: ansible_pkg_mgr == "apt"

- name: Delete default php-fpm pool.conf
  file:
    path: "/etc/php/{{ php_fpm_php_version }}/fpm/pool.d/www.conf"
    state: absent

- name: Update php.ini
  ini_file:
    path: "/etc/php/{{ php_fpm_php_version }}/fpm/php.ini"
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value}}"
  with_items:
    php_fpm_php_ini_values
  register: reload_php

- name: Create php-fpm.conf
  template:
    src: templates/php-fpm.conf.j2
    dest: "/etc/php/{{ php_fpm_php_version }}/fpm/php-fpm.conf"
  register: reload_php

- name: Create php-fpm pool.confs
  template:
    src: templates/pool.conf.j2
    dest:  "/etc/php/{{ php_fpm_php_version }}/fpm/pool.d/{{ php_fpm_pool.name }}.conf"
  with_items: "{{ php_fpm_pools }}"
  loop_control:
    loop_var: php_fpm_pool
  register: reload_php

- name: Enable and start php-fpm
  systemd:
    name: "php{{ php_fpm_php_version }}-fpm.service"
    state: reloaded
    enabled: True
  when: ansible_service_mgr == "systemd" and reload_php.changed
