; {{ ansible_managed }}
;;;;;;;;;;;;;;;;;;;;;
; FPM Configuration ;
;;;;;;;;;;;;;;;;;;;;;

include = /etc/php/{{ php_fpm_php_version }}/fpm/conf.d/*.conf

;;;;;;;;;;;;;;;;;;
; Global Options ;
;;;;;;;;;;;;;;;;;;

[global]
; Pid file
pid = {{ php_fpm_pid }}

; Error log file
error_log = {{ php_fpm_error_log }}

; Log level, possible Values: alert, error, warning, notice, debug
log_level = {{ php_fpm_log_level }}

; used to specify what type of program is logging the message.
syslog.facility = {{ php_fpm_syslog_facility }}

; Prepended to every log message.
syslog.ident = {{ php_fpm_syslog_ident }}

; If this number of child processes exit with SIGSEGV or SIGBUS within the time interval set by emergency_restart_interval then FPM will restart
emergency_restart_threshold = {{ php_fpm_emergency_restart_threshold }}

; Interval of time used by emergency_restart_interval to determine when a graceful restart will be initiated.
emergency_restart_interval = {{ php_fpm_emergency_restart_interval }}

; Time limit for child processes to wait for a reaction on signals from master.
process_control_timeout = {{ php_fpm_process_control_timeout }}

; The maximum number of processes FPM will fork.
process.max = {{ php_fpm_process_max }}
{% if php_fpm_process_priority  is defined %}
; The nice(2) priority to apply to the master process (only if set).
process.priority = {{ php_fpm_process_priority }}

{% endif %}

daemonize = {% if php_fpm_daemonize %}yes{% else %}no{% endif %}

;Set open file descriptor rlimit for the master process.
rlimit_files = {{ php_fpm_rlimit_files }}

; Set max core size rlimit for the master process.
rlimit_core = {{ php_fpm_rlimit_core}}
{% if php_fpm_events_mechanism is defined %}
; Specify the event mechanism FPM will use.
events.mechanism = {{ php_fpm_events_mechanism }}

{% endif %}

; Interval, in seconds, between health report notification to systemd.
systemd_interval = {{ php_fpm_systemd_interval }}

;;;;;;;;;;;;;;;;;;;;
; Pool Definitions ;
;;;;;;;;;;;;;;;;;;;;

{% for pool in php_fpm_pools %}
include=/etc/php/{{ php_fpm_php_version }}/fpm/pool.d/{{ pool.name }}.conf
{% endfor %}
